{% extends 'base.html' %}

{% block head %}

<title>Algorithm Explorer</title>

{% endblock %}

<style>

    .btn{

        padding: 5px;
        cursor: pointer;

    }
 
</style>

{% block body %}

<div>
    <h1>Welcome to Algorithm Explorer👋</h1>

    <p>Visualize, understand, and master data structures and algorithms with interactive examples and animations</p>

</div>

<div>
    <button class="btn" style="background-color: blue; color: white;">Explore Data Structures</button>

    <button class="btn" style="color: blue;">Explore Algorithms</button>
</div>

{% endblock %}