{% extends 'base.html' %}

{% block head %}

<title>Algorithm Explorer</title>

{% endblock %}

{% block body %}

<div>
    <h1>Welcome to Algorithm Explorer👋</h1>

    <p>Visualize, understand, and master data structures and algorithms with interactive examples and animations</p>

</div>

<div>
    <button style="background-color: blue; color: white; padding: 5px;">Explore Data Structures</button>

    <button style="color: blue; padding: 5px;">Explore Algorithms</button>
</div>

{% endblock %}